@{
    ViewData["Title"] = "Bienvenida";
}

<div class="text-center">
    <h1 class="display-4">
        <b>
            Trabajo Final del curso de Finanzas e Ingeniería Económica
        </b>
    </h1>
    <p>
        Esta aplicación web se ha desarrollado con el objetivo de ser una herramienta de ayuda para poder administrar
        una cartera de recibos por honorarios.
    </p>
    <h2>¿Qué es un recibo por honorarios?</h2>
    <p>
        Un Recibo por Honorarios es un tipo de comprobante de pago que deben emitir las personas naturales por cada
        servicio que prestan en forma independiente, por percibir rentas que la Ley clasifica como rentas de cuarta
        categoría, inclusive en el caso que el servicio se haya realizado en forma gratuita.
        <br />
        A continuación, te dejamos un ejemplo de un recibo por honorarios.
    </p>
    <img src="~/recibos-electrónicos.jpg" />
</div>
